@page "/Admin/Usuarios/Form"
@model UsuarioFormModel
@{
    string palabra = (Model.Input.Id.Equals(0)) ? "Crear" : "Editar";
    ViewData["Title"] = $"{palabra} Usuario";
}

<div class="row">
    <div class="col-sm-12 offset-lg-3 col-lg-6">
        <div class="card rounded shadow">
            <div class="card-body">
                <h5 class="text-center mb-4">@palabra Usuario</h5>
                <form method="post" enctype="multipart/form-data" autocomplete="off">
                    @if (Model.Input.ErrorMessage != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @Html.DisplayFor(m => m.Input.ErrorMessage)
                        </div>
                    }
                    <div class="form-row">
                        <div class="form-group col-sm-12 col-md-6">
                            <label asp-for="Input.Name"></label>
                            <input asp-for="Input.Name" placeholder="Nombre" class="form-control" />
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label asp-for="Input.LastName"></label>
                            <input asp-for="Input.LastName" placeholder="Apellido" class="form-control" />
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label asp-for="Input.NID"></label>
                            <input asp-for="Input.NID" placeholder="Número de documento" class="form-control" autofocus />
                            <span asp-validation-for="Input.NID" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label asp-for="Input.PhoneNumber"></label>
                            <input asp-for="Input.PhoneNumber" placeholder="Número de teléfono" class="form-control" />
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" placeholder="Correo electrónico" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    @if (Model.Input.Id.Equals(0))
                    {
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" placeholder="Contraseña" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    }
                    <div class="form-group">
                        <label asp-for="Input.Role"></label>
                        @if (Model.Input.Id.Equals(0))
                        {
                            @Html.DropDownList("Input.Role", new SelectList(Model.Input.rolesLista, "Text", "Text"), "Seleccione un role", new { @class = "form-control" })
                        }
                        else
                        {
                            @Html.DropDownList("Input.Role", new SelectList(Model.Input.rolesLista, "Text", "Text"), new { @class = "form-control" });
                        }
                        <span asp-validation-for="Input.Role" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary px-4">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-5">
    <a href="/Admin/Usuarios" class="btn btn-outline-secondary rounded-pill"><i class="fas fa-arrow-left"></i> Volver al Listado</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}