@page
@model RegisterModel
@{
    ViewData["Title"] = "Registro";
}

<div class="alert alert-primary" role="alert">
    El registro no está habilitado para los usuarios. Solo los administradores pueden crear cuentas de usuarios.
</div>
