@{
    ViewData["Title"] = "Agradecimientos";
}

<h2 class="text-center">Miembros del Equipo de Trabajo</h2>
<hr />
<div class="row pt-3">
    <div class="col-lg-4">
        <img src="~/images/logo-unimag.png" class="img-fluid" alt="logo" />
    </div>
    <div class="col-lg-8">
        <h5>Universidad del Magdalena (UNIMAG)</h5>
        <ul>
            <li>Nombre Apellido</li>
            <li>Nombre Apellido</li>
            <li>Nombre Apellido</li>
            <li>Nombre Apellido</li>
            <li>Nombre Apellido</li>
        </ul>
    </div>
</div>
<hr />

<div class="row py-3">
    <div class="col-lg-4">
        <img src="~/images/logo-gibea.png" class="img-fluid" alt="logo" />
    </div>
    <div class="col-lg-8">
        <h5>Grupo de Investigacion en Biodiversidad y Ecología Aplicada (GIBEA)</h5>
        <ul>
            <li>Nombre Apellido</li>
            <li>Nombre Apellido</li>
            <li>Nombre Apellido</li>
            <li>Nombre Apellido</li>
            <li>Nombre Apellido</li>
            <li>Nombre Apellido</li>
            <li>Nombre Apellido</li>
        </ul>
    </div>
</div>
<hr />

<div class="row pt-3">
    <div class="col-lg-4">
        <img src="~/images/logo-aunap.png" class="img-fluid" alt="logo" />
    </div>
    <div class="col-lg-8">
        <h5>Autoridad Nacional de Acuicultura y Pesca (AUNAP)</h5>
        <ul>
            <li>Nombre Apellido</li>
            <li>Nombre Apellido</li>
            <li>Nombre Apellido</li>
            <li>Nombre Apellido</li>
        </ul>
    </div>
</div>

<div class="my-5"></div>
