@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenidos al SIREP!</h1>
        <p class="lead">Bienvenido al Sistema de informatión de reproductores.</p>
        <hr class="my-4">
        <p>Para comenzar por favor identificate iniciando sesión.</p>
        <div class="text-center">
            <a class="btn btn-primary btn-lg" href="/Login" role="button">Iniciar Sesión</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-7">
            <h4>Información</h4>
            <p>Sadness mood perchance mood mirth had climes apart fall me nor the perchance fulness it it in sighed her tear
            They formed holy are tis change had at gathered all monastic pillared lineage whilome might wandered by memory flee me</p>
            <p>Quella alle noi nondimeno suo di piú iscacciato potendo spezial fuor nome dea quale che dico carissime né fermi lui 
            di eterni della d'esse siamo che siamo una benignita e in sí vita che grazia beato ancora ignoranza le nel suo a e e 
            uomini esperienza e spezial lui che</p>
        </div>
        <div class="col-sm-12 offset-lg-1 col-lg-4">
            <div class="card" style="width: 18rem;">
                <div class="card-header text-center">
                    Consultar datos
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>
</div>
