@model Sirep.Models.Cuenca

@{
    ViewData["Title"] = "Editar Cuenca";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12 offset-lg-3 col-lg-6">
        <div class="card shadow">
            <div class="card-header text-center">
                <h5 class="m-0">Editar Cuenca</h5>
            </div>
            <div class="card-body">
                <form asp-action="Edit" autocomplete="off">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Codigo" class="control-label"></label>
                        <input asp-for="Codigo" class="form-control" />
                        <span asp-validation-for="Codigo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center m-0">
                        <input type="submit" value="Guardar Cambios" class="btn btn-success px-4" />
                    </div>
                </form>
            </div>
        </div>
        <div class="text-center my-4">
            <a asp-action="Cuencas" class="btn btn-outline-secondary rounded-pill"><i class="fas fa-arrow-left"></i> Volver al Listado</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

