@model Sirep.Models.LocusReproductor

@{
    ViewData["Title"] = "Editar Locus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12 offset-lg-4 col-lg-4">
        <div class="card shadow">
            <div class="card-header text-center">
                <h5 class="m-0">Editar información del locus</h5>
            </div>
            <div class="card-body">
                <form asp-action="EditLocus">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="ReproductorId">

                    <div class="form-group">
                        <label asp-for="ValorA" class="control-label"></label>
                        <input asp-for="ValorA" class="form-control" />
                        <span asp-validation-for="ValorA" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ValorB" class="control-label"></label>
                        <input asp-for="ValorB" class="form-control" />
                        <span asp-validation-for="ValorB" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Numero" class="control-label"></label>
                        <input asp-for="Numero" class="form-control" />
                        <span asp-validation-for="Numero" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="Guardar cambios" class="btn btn-success px-4" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="text-center my-5">
    <a href="/Reproductor/Details/@Model.ReproductorId" class="btn btn-outline-secondary rounded-pill">
        <i class="fas fa-arrow-left"></i> Volver al Detalles del Reproductor
    </a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

