
@{
    ViewData["Title"] = "Administrador";
}

<h1>Panel de Administrador</h1>
<hr />
<div class="row">
    <div class="col-sm-12 col-lg-6">
        <div class="card border-primary mb-3 shadow">
            <div class="card-header text-white bg-primary">
                <h5 class="mb-0 text-center">Gestionar Usuarios</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3 text-primary">
                        <i class="fas fa-users fa-4x"></i>
                    </div>
                    <div class="col-9">
                        Número de registros: 1
                        <div class="text-right">
                            <a class="btn btn-outline-primary" href="/Admin/Usuarios" role="button">
                                Gestionar <i class="fas fa-tasks"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-lg-6">
        <div class="card border-success mb-3 shadow">
            <div class="card-header text-white bg-success">
                <h5 class="mb-0 text-center">Gestionar Centros Piscícolas</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3 text-success">
                        <i class="fas fa-store-alt fa-4x"></i>
                    </div>
                    <div class="col-9">
                        Número de registros: 1
                        <div class="text-right">
                            <a class="btn btn-outline-success" href="/Admin/Centros" role="button">
                                Gestionar <i class="fas fa-tasks"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-lg-6">
        <div class="card border-info mb-3 shadow">
            <div class="card-header text-white bg-info">
                <h5 class="mb-0 text-center">Gestionar Especies</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3 text-info">
                        <i class="fas fa-fish fa-4x"></i>
                    </div>
                    <div class="col-9">
                        Número de registros: 1
                        <div class="text-right">
                            <a class="btn btn-outline-info" href="/Admin/Especies" role="button">
                                Gestionar <i class="fas fa-tasks"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-lg-6">
        <div class="card border-dark mb-3 shadow">
            <div class="card-header text-white bg-dark">
                <h5 class="mb-0 text-center">Gestionar Representantes Legales</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3 text-dark">
                        <i class="fas fa-user-tie fa-4x"></i>
                    </div>
                    <div class="col-9">
                        Número de registros: 1
                        <div class="text-right">
                            <a class="btn btn-outline-dark" href="/Admin/Representantes" role="button">
                                Gestionar <i class="fas fa-tasks"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-lg-6">
        <div class="card border-danger mb-3 shadow">
            <div class="card-header text-white bg-danger">
                <h5 class="mb-0 text-center">Gestionar Permisos</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3 text-danger">
                        <i class="far fa-file-powerpoint fa-4x"></i>
                    </div>
                    <div class="col-9">
                        Número de registros: 1
                        <div class="text-right">
                            <a class="btn btn-outline-danger" href="/Admin/Permisos" role="button">
                                Gestionar <i class="fas fa-tasks"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-lg-6">
        <div class="card border-warning mb-3 shadow">
            <div class="card-header text-white bg-warning">
                <h5 class="mb-0 text-center">Gestionar Instituciones</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3 text-warning">
                        <i class="fas fa-university fa-4x"></i>
                    </div>
                    <div class="col-9">
                        Número de registros: 1
                        <div class="text-right">
                            <a class="btn btn-outline-warning" href="/Admin/Instituciones" role="button">
                                Gestionar <i class="fas fa-tasks"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
