
@{
    ViewData["Title"] = "Panel de Administrador";
    //Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}

<h1>Panel de Administrador</h1>


<a class="btn btn-primary btn-lg" href="/Admin/Usuarios/Form" role="button">add user</a>