<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModalLabel">Información de Símbolos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <dl class="row">
                    <dt class="col-4">Peso</dt>
                    <dd class="col-8">En gramos (gr)</dd>

                    <dt class="col-4">Talla</dt>
                    <dd class="col-8">En centímetros (cm)</dd>

                    <dt class="col-4">CSL</dt>
                    <dd class="col-8">Cortisol</dd>

                    <dt class="col-4">PPT</dt>
                    <dd class="col-8">Solidos totales en plasma</dd>

                    <dt class="col-4">PS</dt>
                    <dd class="col-8">Proteína sanguinea</dd>

                    <dt class="col-4">UREA</dt>
                    <dd class="col-8">Urea sanguinea</dd>

                    <dt class="col-4">GLS</dt>
                    <dd class="col-8">Glucosa</dd>

                    <dt class="col-4">RBC</dt>
                    <dd class="col-8">Conteo de glóbulos rojos</dd>

                    <dt class="col-4">HB</dt>
                    <dd class="col-8">Hemoglobina</dd>

                    <dt class="col-4">HTO</dt>
                    <dd class="col-8">Hematocrito</dd>

                    <dt class="col-4">VCM</dt>
                    <dd class="col-8">Volumen celular medio</dd>

                    <dt class="col-4">HCM</dt>
                    <dd class="col-8">Hemoglobina celular media</dd>

                    <dt class="col-4">CHCM</dt>
                    <dd class="col-8">Concentración de hemoglobina corpuscular media</dd>

                    <dt class="col-4">WBC</dt>
                    <dd class="col-8">Recuento de glóbulos blancos</dd>
                </dl>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>