@{
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}

<h1>Gestión de cuenta</h1>

<div>
    <h4>Modifica la configuracion de tu cuenta.</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
    <script defer src="~/js/fontawesome.js"></script>
}
